.app_body {
  display: flex;
  /*background-color: #f4f9f9;*/
  background-color: #f5f4f4;
}
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #1f6f8b;
  color: white;
  text-align: center;
  margin-top: 10px;
}
.footer > a {
  color: white;
  font-size: large;
  text-decoration: none;
}
